<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BOWO</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.13.0/css/all.css">
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/vendor/css/slick-theme.css">
    <link rel="stylesheet" href="../assets/vendor/css/slick.css">
    <link rel="stylesheet" href="../assets/css/style.css">
</head>

<body>
    <header class="HddrBg FxdHeader">
        <nav class="navbar navbar-expand-lg">
            <div class="container container-1200">
                <div class="d-flex align-items-center w-100">
                    <div class="logo_header">
                        <a href="" class=""><img src="../assets/images/logo.svg" class="img-fluid" alt="logo" /></a>
                    </div>
                    <div class="userDD ml-auto">
                        <img src="../assets/images/userImg.png" class="prof" />
                        <span>Mark Steward</span>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="Main-section MnuPaddTop RegstMainBg innerPgs">
        <div class="container container-1200">
            <div class="row">
                <div class="col-12">
                    <ul class="maintabs">
                        <li><a href="../user/dashboard" class="active">Overview</a></li>
                        <li><a href="../user/cms">Profile</a></li>
                        <li><a href="./support">Support</a></li>
                        <li><a href="../user/businessprofile">Business Profile</a></li>
                        <li><a href="./developercontrols.html">Developer Control</a></li>
                        <li><a href="./banking.html">Banking</a></li>
                    </ul>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-lg-12">
                    <div class="innerCard px-5 py-5 trans">
                        <h3 class="lgHeading mb-4">Transaction History</h3>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="tableFilterCnt d-flex align-items-center flex-wrap">
                                    <p class="mb-0">
                                        Showing
                                        <select th:onchange="window.location.href='/user/loginHistoryy?page=0&size=' + this.value">
                                            <option th:value="5" th:selected="${size == 5}">5</option>
                                            <option th:value="10" th:selected="${size == 10}">10</option>
                                            <option th:value="20" th:selected="${size == 20}">20</option>
                                        </select>
                                        of <span th:text="${totalEntries}"></span> results
                                    </p>
                                </div>
                                <div class="table-responsive mt-3">
                                    <table class="table table-hover">
                                        <thead>
                                        <tr>
                                            <th>S.No</th>
                                            <th>Logged At</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="login, status : ${logins}">
                                            <td th:text="${status.index + 1 + (currentPage * size)}"></td>
                                            <td th:text="${login.localDateTime}"></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="tableFilterCnt d-flex align-items-center flex-wrap">
                                    <p>
                                        Showing
                                        <span th:text="${currentPage * size + 1}"></span>
                                        to
                                        <span th:text="${(currentPage + 1) * size > totalEntries ? totalEntries : (currentPage + 1) * size}"></span>
                                        of
                                        <span th:text="${totalEntries}"></span> entries
                                    </p>

                                    <ul class="pagination ml-auto">
                                        <li class="page-item" th:classappend="${currentPage == 0} ? 'disabled'">
                                            <a class="page-link" th:href="@{/user/loginHistoryy(page=${currentPage - 1}, size=${size})}" th:if="${currentPage > 0}">Previous</a>
                                            <span class="page-link" th:if="${currentPage == 0}">Previous</span>
                                        </li>
                                        <li th:each="i : ${#numbers.sequence(0, totalPages - 1)}"
                                            th:classappend="${i == currentPage} ? 'active'">
                                            <a th:href="@{/user/loginHistoryy(page=${i}, size=${size})}"
                                               class="page-link" th:text="${i + 1}"></a>
                                        </li>
                                        <li class="page-item" th:classappend="${currentPage == totalPages - 1} ? 'disabled'">
                                            <a class="page-link" th:href="@{/user/loginHistoryy(page=${currentPage + 1}, size=${size})}" th:if="${currentPage < totalPages - 1}">Next</a>
                                            <span class="page-link" th:if="${currentPage == totalPages - 1}">Next</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="../assets/js/jquery.min.js "></script>
    <script src="../assets/js/bootstrap.bundle.min.js "></script>
    <script src="../assets/vendor/js/slick.min.js "></script>
    <script src="../assets/js/smooth-scroll.js "></script>
</body>

</html>
