<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-5">
                <form action="/admin/saveCustomer" method="get">
                    <label for="name">Username</label>
                    <input type="text" id="name" name="name" class="form-control">
                    <label for="age">Age</label>
                    <input type="number" id="age" name="age" class="form-control">
                    <label for="pan">PAN ID</label>
                    <input type="number" id="pan" name="pan" class="form-control">
                    <label for="mobile">Mobile No.</label>
                    <input type="text" id="mobile" name="mobile" class="form-control"><br>
                    <button type="submit" class="btn btn-dark">Submit</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>